[2016-06-26 14:49] EugeneLiang opened #2 "Android support?"
Hi good day,
Awesome job for this wrapper!

I was wondering if there is any plans for android support?

Thanks!

[2016-06-26 20:09] bradbyte commented on #2
@EugeneLiang yes! I'm currently working on the Android wrapper. I should adhere to the same APIs unless there are any major differences. I wanted to get some of the kinks out of iOS first before doubling down on Android. Thanks for checking out the project!

[2016-06-27 19:04] bradbyte commented on #2
The android branch is up, but still in progress (only have a few classes converted).

[2016-06-27 20:31] bradbyte opened #3 "Update Example app"

[2016-06-27 20:32] bradbyte opened #4 "Add Android classes"
- [x] ~~AccessManager~~
- [x] ~~Client~~
- [x] ~~Channels~~
- [x] ~~Messages~~
- [x] ~~Members~~

[2016-06-27 20:32] bradbyte opened #5 "Add Android constants"

[2016-06-27 20:32] bradbyte opened #6 "Add Android listeners"

[2016-06-27 20:33] #2 closed, assigned to nobody

[2016-06-28 18:19] #5 closed, assigned to nobody

[2016-06-28 18:20] #4 closed, assigned to nobody

[2016-06-28 18:48] bradbyte opened #7 "Add class conversions to maps"
Need to set up a conversion process to take class instances and return maps.

[2016-06-28 20:47] #6 closed, assigned to nobody

[2016-06-28 20:47] bradbyte commented on #7
Have the Convert file... need to added to all of the Promises.

[2016-06-28 20:47] bradbyte opened #8 "Handle Promise rejections"
Might make a interface for generic listeners so the onError can be defined in one place.

[2016-06-29 12:01] Kailash43 opened #9 "undefined is not an object (evaluating 'TwilioIPMessagingClient.Constants')"
As i am new to work on twilio ip messaging and even in react-native thing.

So I tried to start from scratch init the react-native project using

`react-native init myapp`

after that added the react-native twilio dependencies

 `npm  install --save react-native-twilio-ip-messaging`

and podfile installation successfully done.

Next tried for the initalization and build the app from the ipchat.xcw

[2016-06-29 12:06] bradbyte commented on #9
@Kailash43 thanks for checking out the project. I'd be happy to help you with this issue. (PS welcome to the React Native bandwagon!).

This is looking like the IP Messaging modules are not being exported to React's Native Modules.

Can you provide the contents of your `Podfile`?

[2016-06-29 12:22] Kailash43 commented on #9
@bradbumbalough this is my Podfile

[code]

[2016-06-29 12:49] bradbyte commented on #9
@Kailash43 Ok, it looks like you didn't add the pod for the actual project. You need both, my code and the original sdks.

`pod 'RCTTwilioIPMessaging', :path => '../node_modules/react-native-twilio-ip-messaging'`

Add that line, then rerun `pod install`.

[2016-06-29 14:59] Kailash43 commented on #9
@bradbumbalough I think its already written just above the end sentence. Can you make it more clear for me.

[2016-06-29 15:14] bradbyte commented on #9
Oh sorry I was on my phone and I didn't see that line. Does `pod install` run successfully? Are you opening the `.xcworkspace` project file?

[2016-06-29 15:18] bradbyte commented on #9
Also, if you load the React libraries with Pods, you don't need them in your Link Binary with Libraries phase, with the exception of `libReact.a`.

[2016-06-29 15:41] bradbyte commented on #9
@Kailash43 I'm working to replicate your issue, but I think I know what might be the problem. A fresh project from `react-native init` will use `0.28.0`, but I don't think this repo supports that yet. Let me look into it.

[2016-06-29 16:02] bradbyte commented on #9
I made a fresh app following your steps and it seemed to still work for me. However, you do have to modify your `Other Linker Flags` setting to include `$(inherited)`.

![screen shot 2016-06-29 at 12 00 08 pm](https://cloud.githubusercontent.com/assets/9825605/16459538/12b34466-3df1-11e6-9aa2-07a187351a78.png)

Also, I modified the `Link Binary With Libraries` Build Phase as follows...

![screen s

[2016-06-29 17:53] bradbyte opened #10 "Error thrown when getChannelBySid or getChannelByUniqueName can't find the channel"
<img width="374" alt="screen shot 2016-06-29 at 12 28 02 pm" src="https://cloud.githubusercontent.com/assets/9825605/16462786/cf84f97c-3e00-11e6-9375-f6e2925ddbac.png">

[2016-06-29 19:40] #10 closed, assigned to bradbyte

[2016-06-29 20:13] bradbyte opened #11 "attributes are undefined on a Channel instance"

[2016-06-29 20:49] bradbyte commented on #11
Fixed in b082752.

[2016-06-29 20:49] #11 closed, assigned to bradbyte

[2016-06-30 04:54] Kailash43 commented on #9
@bradbumbalough i will try that out today and will let you know soon. thanks for your help 👍

[2016-06-30 10:31] Kailash43 commented on #9
@bradbumbalough it worked finally 😃 . thanks brad

[2016-06-30 12:20] bradbyte commented on #9
@Kailash43 that's awesome! Just for posterity, did you do anything in addition to my recommendations or was that enough? Also, we just released version `0.1.5` which fixed some other bugs so you might want to pull that.

[2016-06-30 14:41] #8 closed, assigned to bradbyte

[2016-06-30 15:48] #9 closed, assigned to bradbyte

[2016-07-01 04:58] Kailash43 commented on #9
@bradbumbalough i will pull that too and nothing was done in addition just was having an error saying

which was fixed after uninstalling the react-native and reinstalling it though command.

`npm uninstall react-native` for uninstalling the react-native

`npm install -g react-native` for installing the react-native

[2016-07-06 13:36] #7 closed, assigned to bradbyte

[2016-07-06 13:37] #3 closed, assigned to bradbyte

[2016-07-06 15:38] bradbyte opened #12 "Upgrade to iOS 0.14.2 and Android 0.8.1"
This would bring in the availability indicator and other new features.

[2016-07-06 17:37] bradbyte commented on #2
@EugeneLiang I pushed the Android prerelease this AM... it might be buggy but if you wanted to check it out you can on the `0.2.0-rc1` branch.

[2016-07-07 18:22] bradbyte opened #13 "Add lastConsumedMessageIndex to the Member object"
For some reason I never ported these properties over.

[2016-07-10 14:45] yuvalsegev opened #14 "Android error when compiling MainActivity.java (getPackages)"
when calling

[code]

compiler throws error
`method does not override or implement a method from a supertype
`

this is my MainActivity.java :

[code]

[2016-07-10 17:35] bradbyte commented on #14
Hello, thanks for reporting the issue!

Can you confirm your build.gradle file matches the example in the readme?
(Compiling dependency, and the two lines at the bottom).

Thanks!

##

-Brad
Sent from my iPhone

[2016-07-10 17:40] yuvalsegev commented on #14
@bradbumbalough thats the dependencies part of my build.gradle :

[code]

[2016-07-11 12:18] bradbyte commented on #14
@yuvalsegev11 sorry I didn't get back to you sooner. Do you also have these lines?

[code]

Also, just to confirm in your `package.json` what version you're using for the module? Thanks!

[2016-07-12 19:26] bradbyte opened #15 "App crashes on client.initialize when constructed with the optional synchronizationStrategy and initialCount options"

[2016-07-13 16:47] #15 closed, assigned to nobody

[2016-07-13 16:49] bradbyte commented on #15
This turned out to be an issue with having previously saved nested objects in the userInfo  attributes property in iOS, but Android was expecting a `Map<String, String>`. Per the [change log](https://www.twilio.com/docs/api/ip-messaging/changelogs/android#ip-messaging-android-080-june-21-2016), upgrading to 0.8.0 will solve this. See #12.

[2016-07-14 16:13] bradbyte commented on #12
Implemented in release `0.2.0-rc2`.

[2016-07-14 16:13] #12 closed, assigned to bradbyte

[2016-07-14 16:13] bradbyte commented on #13
Implemented in `0.2.0-rc2`.

[2016-07-14 16:13] #13 closed, assigned to bradbyte

[2016-07-14 17:32] bradbyte commented on #14
@yuvalsegev11 are you still having an issue? Additionally, I released a new release candidate for Android today.. `0.2.0-rc2`. https://github.com/ccm-innovation/react-native-twilio-ip-messaging/blob/0.2.0-rc2/CHANGELOG.md#020-rc2.

[2016-07-14 17:43] yuvalsegev commented on #14
@bradbumbalough Everything is fully working now with today's release. thank you, appreciate you help Brad!

[2016-07-14 17:43] #14 closed, assigned to nobody

[2016-07-14 18:04] bradbyte commented on #14
@yuvalsegev11 awesome! let me know if you hit any bugs.

[2016-07-15 23:56] Baisang opened #17 "channel.sid not updating?"
I've been trying to use your library with `redux_saga`, but I haven't been able to get messages from a channel for some reason. The channel's synchronization status never updates from 2 (metadata synchronized) and when I call `channel.join` it hangs forever, never resolving. When I put `NSLog` statements into your source they don't seem to print to console, furthermore in the console I don't see t

[2016-07-16 00:13] Baisang commented on #17
Just kidding it seems like the methods are actually being called, but the `channel.join` call never ends up resolving (i.e. the callback is never called)

[2016-07-16 00:16] Baisang commented on #17
Nevermind turns out it's because the `sid` is nil for some issue. Probably my fault on something else.

[2016-07-16 00:28] Baisang commented on #17
OK, so stepped through debugger a bit and I think I see the issue

[code]

Is there any reason why the sid wouldn't update in `join`, but be printable? When I print out `this.sid` in the `join` function, it is also undefined...

[2016-07-16 00:36] Baisang commented on #17
OK so the issue was the `this` context was being messed up. In `redux-saga` I can just use `apply` and pass in the context like so:

[code]

[2016-07-16 00:36] #17 closed, assigned to nobody

[2016-07-16 00:41] bradbyte commented on #17
@Baisang I'm glad you were able to get it worked out!!

[2016-08-03 10:27] satyagupta opened #23 "Not able to do pod install"
Hi @bradbumbalough

I am stuck at installing this plugin.

I did npm install. Added the pod data in pod file

This is content of podfile

[code]

Now when i do pod install

[code]

I dont know what i am missing or what i causing this. Am i doing something wrong?

[2016-08-03 11:50] Kailash43 commented on #23
@bradbumbalough i am also facing the same issue.

created new project.

Added the pod data in podfile inside project/ios folder.

pod install

Error
![error](https://cloud.githubusercontent.com/assets/9428585/17364574/8b9f44ce-599e-11e6-872b-adf994e0895e.png)

[2016-08-03 12:29] bradbyte commented on #23
@Kailash43 the source for the podspec should be `../node_modules/react-native-twilio-ip-messaging/ios`. Note the `ios` folder. Try and see if that corrects the issue. I'm sorry you're having problems!

[2016-08-03 12:33] bradbyte commented on #23
@satyagupta was this an existing project or a new project? had you installed the package before `v0.2.0`? Can you verify that you have the source files in `node_modules/react-twilio-ip-messaging/ios`?

[2016-08-04 03:49] satyagupta commented on #23
@bradbumbalough it is a new project.

Here is the complete installation process http://grab.by/RTMM

And looks like there are files in the folder: http://grab.by/RTMQ

[2016-08-04 05:56] Kailash43 commented on #23
@bradbumbalough as per your suggestion i have changed the `../node_modules/react-native-twilio-ip-messaging` to `../node_modules/react-native-twilio-ip-messaging/ios`. But still it doesn't resolve my issue.

![error](https://cloud.githubusercontent.com/assets/9428585/17391717/fc11bd80-5a35-11e6-8275-c5633307c176.png)

Am i doing anything wrong?

[2016-08-04 10:32] bradbyte commented on #23
@kailash43 @satyagupta have you used cocoa pods before successfully or is this the first time? I remember having issues my first time and for some reason upgrading to ruby 2.3.0 solved it.

[2016-08-04 10:37] Kailash43 commented on #23
@bradbumbalough i have setup your example code and it is working fine but if i try it on new project it won't work.

what i found today that if i uncomment the platform target and set it to 9.0

[code]

and run `pod install`.

pod installation is successfull.

but if i set it to 8.0 the pod installation is unsuccessfull.

even i checked my ruby version and it is
`
ruby 2.3.0p0 (2015-12-25 revision

[2016-08-04 12:55] bradbyte commented on #23
@Kailash43 good find! is that in my podspec file or somewhere else? does it work if you set it to 8.1?

[2016-08-04 23:21] plonkus commented on #23
Yeah, because of underlying Twilio library requirements, this pod requires iOS 8.1 in your own xcode project. I was seeing the same error if my project had a deployment target of 8.0.

[2016-08-08 04:47] Kailash43 commented on #23
@bradbumbalough yes it works if i set it to platform 8.1 in my new project pod file. i am trying to install it on new project.

[2016-08-08 11:07] bradbyte commented on #23
@Kailash43 @plonkus thanks for uncovering that. I'll update the install docs to highlight that requirement.

[2016-08-08 11:08] #23 closed, assigned to nobody

[2016-08-08 11:35] satyagupta commented on #23
Thanks @bradbumbalough for your help,

I have one small question.

`var accessManager = new AccessManager(token);`

Here we have to use the token which is generated (from your example its being generated using nodejs server instance) am i right?

How do we generate the same in ReactNative?

[2016-08-08 12:31] bradbyte commented on #23
@satyagupta great question.

As I understand the implementation practices you'll always need a server to generate the token... that way you're not storing your sensitive client SIDs on the phone. So you initiate the AccessManager with a token you acquire from the server. For testing, you can also generate tokens in the debug console (https://www.twilio.com/console/ip-messaging/dev-tools/testing-to

[2016-08-10 08:42] sf577 opened #24 "Push Notifications?"
Has anybody tried to get this working with Push notifications. The SDKs do support PNs.
[IOS](https://www.twilio.com/docs/api/ip-messaging/guides/push-notifications-ios)
[Android](https://www.twilio.com/docs/api/ip-messaging/guides/push-notifications-android)

Is there any work that needs doing here to allow PNs to work.

[2016-08-10 11:06] bradbyte commented on #24
@sf577 We were able to set up iOS notifications... I can't remember if we're using Android yet. You have to upload your cert (ios) or gcm key (android) to your instance and then pass that sid into your access token generator. Then it's just a matter of registering for the notifications with your device token after initializing the client.

Are you not able to get it to work or were just checking?

[2016-08-10 11:32] sf577 commented on #24
I was just checking to see if anybody had looked at it and if this module supported it. Thanks for you help!

[2016-08-10 11:32] #24 closed, assigned to nobody

[2016-08-13 08:39] EugeneLiang opened #25 "Running example app (iOS) on device?"
Hi there!

SUPERB work on this library!

I was trying out the example and have managed to run it on iOS simulator.

However, i'm quite lost as to how I can run the example on my device ?
I understand that I will need uncomment the line `jsCodeLocation = [[NSBundle mainBundle] ...`
as per the tutorial here: https://facebook.github.io/react-native/docs/running-on-device-ios.html

However, since we a

[2016-08-13 09:15] EugeneLiang commented on #25
oh ok fixed. realized that it's the same. thank you!

[2016-08-26 15:37] Freydal opened #26 "The operation couldn’t be completed. (signal.sdk.domain.error error 8.)"
The operation couldn’t be completed. (signal.sdk.domain.error error 8.)

I'm getting the title error message from the error logging defined in client.onError.  I am attempting to work on integrating this library and testing on ios simulator.  I don't have much experience with ios development and also just getting my feet wet with React. I haven't found much information on it though Google searches

[2016-08-29 13:28] #25 closed, assigned to nobody

[2016-08-29 13:30] bradbyte commented on #26
Hey @Freydal thanks for checking out the repo. Are you able to run the example app on the simulator? Without seeing your code implementation it's hard to diagnose what could be up. See if the example app works for you so we could eliminate if it's the package itself or your implementation that's giving you grief. Thanks!

[2016-08-29 15:26] Freydal commented on #26
I will give that a try now.  My implementation of the library is just getting to getting to client.initialize() from the front page.  I had some trouble getting the ios xcode projects configured to allow it to start.  I fear it may be configuration related.

[2016-08-29 15:54] Freydal commented on #26
I grabbed a zip of the master branch of ip messaging project.  I unzipped it and ran react-native init in the Example directory.  I ran a npm install then cd into ios/ for a pod install.  After backing up to the Example directory react-native run-ios resulted in the following.

[code]

I believe this pretty well follows the instructions in the readme.

[2016-08-29 16:17] bradbyte commented on #26
@Freydal why did you run `react-native init`? you should be able to just open the project from within the Example directory. You don't need to create a new app. Just cd into the `Example` dir, run `npm install`, cd into `ios`, run `pod install`, then you should be good to go. Here's the specific instructions for the Readme: https://github.com/ccm-innovation/react-native-twilio-ip-messaging/blob/ma

[2016-08-29 16:28] Freydal commented on #26
@bradbumbalough because I had attempted to do react-native run-ios without doing anything else before I read. It complained about it not being initialized yet. I'll try again with a clean zip.

[2016-08-29 16:47] Freydal commented on #26
I npm installed, pod installed, and ran react-native run-ios.  I got the identical error.

[2016-08-29 19:52] Freydal commented on #26
I was able go get the build to succeed by adding a ${inherited} other linker flag to the Pods project in GiftedMessengerExample.xcworkspace. Afterwards I was able to get it started up. I changed the remote call for my token provider.  I saw the same error in the logs for the sample app.  I will continue digging. Perhaps it is related to something else.

[2016-09-23 15:19] ghost opened #27 "Support for Link command"
Not sure what's needed. But here's an example of using `react-native link` which works quite well: https://github.com/auth0/react-native-lock

[2016-09-23 18:51] bradbyte commented on #27
Thanks @jhabdas! Have you tried running it with the current version? I think that's more out of box RN stuff than something that has to be implemented..

[2016-09-23 18:53] bradbyte commented on #26
@Freydal were you able to get this working? I'll close if so. Thanks.

[2016-09-23 18:59] ghost commented on #27
Hope so! Will likely be trying it soon and will get back to you with a README update if it works.

[2016-09-23 19:37] bradbyte commented on #27
Cool. I'll hold off pushing a release until you find out.

[2016-09-23 22:08] ghost commented on #27
Cool. Based on current trajectory I'll either spike on something in the next week or so or in a couple of weeks, save for any product course corrections, if that help in the planning.

[2016-09-26 14:32] bradbyte opened #29 "Support for SDK versions 0.15 (iOS) and 0.9 (Android)"
Current versions are `0.14.1` (iOS) and `0.8.1` (Android).

[2016-09-26 14:33] #26 closed, assigned to bradbyte

[2016-09-26 14:34] bradbyte commented on #27
I feel like I was able to do it when testing Android, but could be wrong..

[2016-09-26 14:36] Freydal commented on #26
@bradbumbalough Sorry I was out of town for the weekend.  I kind of refocused for a bit with some other features. I will revisit this in the future and reopen if necessary.

[2016-09-26 14:42] bradbyte commented on #26
@Freydal sounds good! thanks!

[2016-09-27 17:09] ghost commented on #27
Quick update. Trajectory changed and at this point will not be using Twilio IP messaging. Closing as a result. Please feel free to reopen for tracking purposes as desired. Cheers!

[2016-09-27 17:09] #27 closed, assigned to nobody

[2016-09-27 17:41] bradbyte commented on #27
Sounds good. Best of luck! thanks for the contribution on the way.

[2016-10-08 08:49] mikelambert opened #33 "Difference vs JS API"
I am curious what the advantage is of this wrapped android/ios native SDK version, versus using the Twilip IP Messaging JS API directly?
http://media.twiliocdn.com/sdk/rtc/js/ip-messaging/releases/0.9.6/twilio-ip-messaging.js

This codebase looks amazing, and I'm very excited to see an example already hooked up to react-native-gifted-messenger. But Android's minSdkVersion==19 restriction is worris

[2016-10-11 19:03] bradbyte commented on #33
@mikelambert thanks for checking out the repo... I haven't personally attempted using the JS SDK on React Native. I guess it could be more philosophy than technology. Technically you can accomplish a similar app with Cordova/Phone Gap as with React Native, but you lose the benefit of the native components. With this package, you're using JS to communicate with the native SDKs for your device, inst

[2016-11-01 10:01] isurusen opened #35 "Confusing behavior of the "handleReceive" event"
[code]

This method triggers unexpectedly in Android. I have used `componentWillUnmount `as below. Only for the fist time, messages can be send for the member of chat list. But for the second time (If I select the same member) message sends, But it not shows in the client chat screen. What I might have missed.

Is there specific way to close the channel and the client `componentWillUnmount` before

[2016-11-01 12:23] bradbyte commented on #35
@isurusen thanks for checking out the project. Let me check on this and get back to you. Just to confirm, are you only using this on Android? Is this the example app or your own project? Thanks.

[2016-11-01 12:34] bradbyte commented on #33
@mikelambert did that help answer your question Mike? Any other questions? Otherwise I'll close the issue. Thanks!

[2016-11-01 13:36] isurusen commented on #35
Thanks for the reply. Its on Android and its my own project. Thanks.

[2016-11-01 14:14] bradbyte commented on #35
@isurusen cool. Could you maybe provide some code to help understand how you're initiating the package, storing the channel data, etc? Thanks!

[2016-11-01 15:07] isurusen commented on #35
[TwilioView.txt](https://github.com/ccm-innovation/react-native-twilio-ip-messaging/files/564318/TwilioView.txt)

I have added my class below. Thanks

[2016-11-01 15:20] bradbyte commented on #35
@isurusen thank you! for reference, can you see if you get the same issue when using the Example app provided in the repo? It looks like you've copied most of the functionality... just trying to rule that out. Thanks!

[2016-11-01 16:05] isurusen commented on #35
Yes, I got your example app and tried to change it according to my requirement. I'm not sure about the Example app functionality as it has use robotic chat. Can you see any obvious issue in my code? For an example: **The way of closing the channel and the client** in **componentWillUnmount** and **the way of initializing** etc.

[2016-11-01 18:14] bradbyte commented on #35
Honestly I wouldn't make the example app your starting point.. it's more to show how you could access a few key APIs. I don't have the bandwidth to diff the two pieces of code right now but I would advise trying to get it working from the ground up instead of patch copying from here or there since you don't always know what's going on behind the scenes (like the bot chat). As you work on that if y

[2016-11-08 20:41] makasimenator opened #36 "Error: message.setAttributes"
ExceptionsManager.js:82 Argument 1 (NSNumber) of RCTTwilioIPMessagingMessages.setAttributes has unspecified nullability but React requires that all NSNumber arguments are explicitly marked as `nonnull` to ensure compatibility with Android.

[2016-11-10 22:39] #33 closed, assigned to nobody

[2016-11-10 22:40] bradbyte commented on #35
@isurusen any luck? going to close this issue for now unless you run into another issue.

[2016-11-10 22:40] #35 closed, assigned to nobody

[2016-11-10 22:42] bradbyte commented on #36
@makasimenator can you provide some code examples of what led to this error? If this is something wrong with the code base feel free to open a PR.

[2016-11-12 05:03] makasimenator commented on #36
I try to set an object with attributes to a message and have this error:
 message.setAttributes({key: value})

I opened a PR.

[2016-11-17 13:35] bradbyte commented on #36
@makasimenator thank you! I'll check it out.

[2016-11-23 14:46] bradbyte commented on #36
Closing per comment on #37 .

[2016-11-23 14:46] #36 closed, assigned to nobody

[2016-11-23 16:31] bradbyte commented on #29
Closing in lieu of the 1.0 Milestone.

[2016-11-23 16:31] #29 closed, assigned to bradbyte

[2016-11-23 16:39] bradbyte opened #38 "Rename repository to react-native-twilio-chat"
Includes creating a new npm package and deprecating old one.

https://www.gregjs.com/javascript/2016/how-to-rename-a-published-npm-module/

[2016-11-23 16:44] bradbyte opened #39 "Update podfile"
- [x] REMOVE: References to TwilioIPMessagingClient
- [x] REMOVE: References to TwilioCommon (if present)
- [x] ADD: Reference to TwilioChatClient: pod 'TwilioChatClient', '~> 0.16.0'
- [x] ADD: Reference to TwilioAccessManager, if desired: pod 'TwilioAccessManager', '~> 0.1.1'
- [ ] Update installation docs with this:

[2016-11-23 16:45] bradbyte opened #40 "Update class references"
- [x] TwilioIPMessaging to TwilioChat
- [x] TWM to TCH
- [x] ipMessagingClient: to chatClient:
- [x] Update ipMessagingClientWithAccessManager to chatClientWithToken and pass in a string Access Token instead of AccessManager (whether you are keeping AccessManager or not)
- [ ] Rename RCT* classes to follow suit
- [ ] Update JS lib with new module names

[2016-11-23 16:49] bradbyte opened #41 "TCHChannels"
- [x] Add `userChannelsWithCompletion` method
- [x] Add `publicChannelsWithCompletion` method
- [x] Add `requestNextPageWithCompletion`
- [x] Add `channelWithSidOrUniqueName`
- [x] Remove `channelWithId` and `channelWIthUniqueName`

https://www.twilio.com/docs/api/chat/guides/migration-guide-ios-0160#tchchannels

[2016-11-23 16:50] bradbyte opened #42 "TCHChannel"
- [x] Add `getUnconsumedMessagesCountWithCompletion`
- [x] Add `getMessagesCountWithCompletion`
- [x] Add `getMembersCountWithCompletion`
- [x] Add `createdBy` prop to RCTConvert
- [x] Update JS lib Channel

https://www.twilio.com/docs/api/chat/guides/migration-guide-ios-0160#tchchannel

[2016-11-23 17:03] bradbyte opened #43 "TCHMembers"
- [x] Add `membersWithCompletion`
- [x] Update JS lib module

https://www.twilio.com/docs/api/chat/guides/migration-guide-ios-0160#tchmembers

[2016-11-23 17:05] bradbyte opened #44 "THCMessages"
- [ ] Remove deprecated `allObjects`
- [ ] Add `get*Messages` calls`
- [ ] Update `messageWithIndex` and `messagesForConsumptionIndex` to accept callback

https://www.twilio.com/docs/api/chat/guides/migration-guide-ios-0160#tchmessages

[2016-11-23 17:13] bradbyte opened #45 "AccessManager"
- [ ] Replace references to #import <TwilioCommon/TwilioCommon.h> with #import <TwilioAccessManager/TwilioAccessManager.h>
- You will need to supply the identity for the user when you renew the token with your server, AccessManager is no longer aware of it.
- **TwilioAccessManager's delegates have changed in the following way:**
- [ ] Previously - (void)accessManagerTokenExpired:(TwilioAccessManag

[2016-12-09 21:22] jck2 opened #46 "Channel.getMessages hanging instead of erroring out when disconnected from the internet"
As the title says, we encountered an issue in our code whereby if the user turns off their wifi and they try to view the messages in a specific channel, our app hangs on the line where we call get messages. I put a breakpoint in the native code for the promise resolution/rejection steps for that function and the code never reaches the breakpoint while the internet is turned off. Furthermore, the c

[2016-12-09 21:39] bradbyte commented on #46
@jck2 thanks for reporting that. I've seen similar React Native issues when the internet is off. I've also encountered `fetch` not returning error either. One thing we could try is to manually add a timeout that clears if the request resolves.

I'm in the process of upgrading for Programmable Chat SDKs so could potentially address then.

[2016-12-09 21:43] bradbyte commented on #46
@jck2 This could be a possible workaround..

[code]

[2016-12-09 23:39] jck2 commented on #46
@bradbumbalough Thanks so much! I'm using sagas so I can't use that exact timeout logic but there is an equivalent, so I will use that for now. Do you know which of the library functions this is likely to affect? Would it only affect channel methods or would we need to manually do a timeout for the client methods as well?

[2016-12-12 14:14] bradbyte commented on #46
From my experience network request hang.. so any client method that is making an API call would presumably hang too.

[2016-12-12 14:21] bradbyte commented on #46
You might be able to look into [Net Info](https://facebook.github.io/react-native/docs/netinfo.html) too.

[2016-12-19 20:38] radelcom commented on #27
Hi, pardon for my comment here. just wanted to add to this. react-native link cmd doesn't seem to work in iOS because of the iOS projects(RCTTwilioIPMessaging.xcodeproj) build settings. Framework and Header search paths are looking at the wrong directories. I have to modify the project settings in order for it to work in iOS like so in the screenshots below.

![framework_search_path](https://cloud

[2016-12-19 21:36] bradbyte commented on #27
@radelcom thanks for finding that. I'm in the process of upgrading for the 1.0 release to mirror the new Programmable Chat SDKs and can include this.

[2016-12-19 21:45] bradbyte opened #47 "Update iOS build settings to allow `react-native link`"
See #27

[2016-12-22 01:27] Maxwell2022 opened #48 "'RCTConvert.h' File not found with <angled> include; use "quotes" instead"
We have few issues when compiling our project and have xcode asking us to change angled includes by quoted ones:

- RCTConvert.h
- RCTUtils.h

Do you want me to create a pull request with the fix?

![error](https://cloud.githubusercontent.com/assets/670701/21412130/fafbcd9e-c841-11e6-90c2-4c45c8088629.png)

[2016-12-22 01:48] Maxwell2022 commented on #48
I've submitted https://github.com/ccm-innovation/react-native-twilio-ip-messaging/pull/49

[2016-12-22 14:50] bradbyte commented on #48
Hey @Maxwell2022! thanks for finding that and submitting a PR! Awesome.

I'm in the process of working on the 1.0 release that will mimic the new Programmable Chat APIs and have already handled it there. I can merge this for a patch release in the meantime.

[2016-12-23 00:04] Maxwell2022 commented on #48
yeah if you could release a patch that would be great ;)

[2017-01-05 00:49] Michaeltym opened #50 "(Android) method does not override or implement a method from a supertype"
Thanks for your great work!

I got some errors when I compiled this component on Android device.
This is what I did:

step 1. create a new project and install package
[code]

step 2. settings.gradle
[code]

step 3. build.gradle (dependencies part)
[code]

step 4. MainActivity.java
[code]
Then if I run 'react-native run-android', I will fail and get error:
**Desktop/chat/android/app/src/main/java/c

[2017-01-05 02:01] bradbyte commented on #50
@Michaeltym Yiming, thanks for checking out the project! Do you get anything different if you list the React package first in the `getPackages` call?
[code]

[2017-01-05 02:07] Michaeltym commented on #50
@bradbumbalough Thanks for replying. We managed to fix this issue. Instead of doing the steps in README, we did this:

[code]
and then change minSdkVersion to 19.

[2017-01-05 02:07] #50 closed, assigned to nobody

[2017-01-05 02:22] bradbyte commented on #50
I'm glad you got it to work! it might have just been changing the minSdkVersion (that's in the docs too).

[2017-01-05 14:35] bradbyte commented on #48
@Maxwell2022 thanks! published version 0.2.2.

[2017-01-05 14:35] #48 closed, assigned to nobody

[2017-01-06 03:49] jck2 opened #51 "Performance issues with client/channel syncing with users that have lots of channels"
We've been experiencing some performance issues for a while now and messages appear to be loading very slowly in our app. We isolated the issue to something twilio related, but twilio support wasn't much help since they say they don't support react native. For reference on client creation and when joining channels we fetch use an initial count of 10 messages and the synchronization strategy we are

[2017-01-13 00:36] Maxwell2022 opened #52 "[Android] ExtraDimensionsPackage in Example is not required anymore"
In the Android example you are using: `react-native-extra-dimensions-android`

It looks like the issue with android phone dimensions has been fixed in react native `0.21.0`

https://github.com/facebook/react-native/issues/4934
https://github.com/facebook/react-native/issues/5762

[2017-01-13 01:36] Maxwell2022 opened #53 "[Android] Edit MainApplication.java instead of MainActivity.java"
I had issues compiling my project because of the README referencing `MainActivity.java` that needed to be updated, but since `react-native` v0.29.0, we should edit `MainApplication.java`:

http://www.reactnative.com/react-native-v0-29-rc-released/

[2017-01-13 01:54] Maxwell2022 opened #54 "[Android] undefined is not an object when accessing constant"
**EDIT**: It looks like `TWMLogLevel` constants are missing in Android:
https://github.com/ccm-innovation/react-native-twilio-ip-messaging/blob/master/android/src/main/java/com/bradbumbalough/RCTTwilioIPMessaging/RCTTwilioIPMessagingClient.java#L40

**EDIT2**: it looks like this constant is only use to set the log level that is only supported by iOS. We should update the documentation to specify t

[2017-01-13 13:28] bradbyte commented on #54
@Maxwell2022, thanks for checking out the repo! Sorry for only now getting back to you. The issue, and this is probably related to my code and not yours, is that I believe the log level is only supported in iOS.

(Reread your updated post) Sorry, you already figured that out :). I'll have a look at your PR and get that merged. Thanks!

[2017-01-13 13:33] bradbyte commented on #52
@Maxwell2022 Thanks! I need to redo the example anyway with the latest versions of React + Gifted Chat.

[2017-01-13 13:33] bradbyte commented on #52
If you wanted to take a shot at the change feel free to fork `programable-chat` (yes, I know it's misspelled).

[2017-01-13 13:34] bradbyte commented on #54
Merged. (This will come back when the latest SDKs are updated as it seems Android now supports log level - https://media.twiliocdn.com/sdk/android/chat/releases/0.11.2/docs/).

[2017-01-13 13:34] #54 closed, assigned to nobody

[2017-01-13 13:35] bradbyte commented on #53
This has been done in the `programable-chat` branch, so we'll just merge that in since it's nearly done.

[2017-01-13 13:35] #53 closed, assigned to nobody

[2017-01-13 13:38] #45 closed, assigned to nobody

[2017-01-13 13:38] #39 closed, assigned to nobody

[2017-01-13 13:38] #40 closed, assigned to nobody

[2017-01-13 13:38] #41 closed, assigned to nobody

[2017-01-13 13:38] #43 closed, assigned to nobody

[2017-01-13 13:38] #44 closed, assigned to nobody

[2017-01-13 13:38] #42 closed, assigned to nobody

[2017-01-13 13:39] bradbyte commented on #46
@jck2 I'm closing for now unless you have new issues.. thanks!

[2017-01-13 13:39] #46 closed, assigned to nobody

[2017-01-13 13:43] bradbyte commented on #51
@jck2 I'm sorry for just now getting back to you, and apologize that you're experiencing these issues. Unfortunately, I'm not sure if the issue is something related to the bridge, React-Native, or even Twilio. Do you have any kind of debugging turned on? do you have the same issues when it's turned off? Looking at your logs, are you joining all the channels? the APIs have changed significantly wit

[2017-01-13 17:27] emitchel opened #57 ""W/ChannelImpl(native): Messaging lib not ready, retrying..." causing memory leak in Android"
Yesterday, started to see `W/ChannelImpl(native): Messaging lib not ready, retrying...`. No update in code, no update in library (0.2.2). On React Native 0.39.2

Android log shows this every second and hogs the UI thread and causes a memory leak. I'm still searching for a root cause.

Any feedback would be greatly appreciated.

[2017-01-13 17:33] bradbyte commented on #57
Hmm that's interesting. I haven't done much testing with it on the latest RN releases.. when this was initially done we were still <0.30 I think. I'm not sure if that would do anything or not. We're in the process of getting the latest SDKs updated, that _could_ help too possibly.

[2017-01-13 17:34] emitchel commented on #57
Thanks, will update this issue as we progress

[2017-01-13 22:38] jck2 commented on #51
Since I posted this issue, we found out that we were doing a few things wrong on our end and while that did improve our performance, we're still facing some issues. One thing we noticed is when we profiled the application, the JS frame rate drops precipitously around the point where we start making calls to the bridge for each channel (we're also doing additional background processing on our end).

[2017-01-16 13:30] bradbyte commented on #51
Can you confirm if you only notice the sluggishness when chrome debugging is enabled? are you certain you don't have "Slow Animations" toggled in the Simulator menu? What kind of calls are you making? Thanks.

[2017-02-02 06:42] Maxwell2022 opened #61 "[programmable-chat] Update react native to 0.40"
Using the `programmable-chat` branch, alongside with react-native `0.40`, I have few of errors building the project.

![image](https://cloud.githubusercontent.com/assets/670701/22539565/f01a03de-e96e-11e6-9502-07bcca12ef1d.png)

[2017-02-02 07:02] Maxwell2022 commented on #61
Can you try to reproduce it with:

[code]

Here is my Podfile:

[code]

[2017-02-05 23:41] Maxwell2022 commented on #61
Somehow the `build clean` didn't remove the existing library `libRTCTwilioIPMessaging`, I deleted it manually, did another `clean` and build is now successful.

I still have few issues: `Invalid data message` But maybe the implementation slightly changed, I have to go through it

[2017-02-05 23:42] Maxwell2022 commented on #61
Just re-opening this issue because it's still related to react-native 0.40.0 and the programmable-chat branch

[2017-02-06 00:05] Maxwell2022 commented on #61
So it was implementation, not sure if you have a migration doc but it would be useful. Here is the issues I faced:

- Constant names changed from `TWM...` to `TCH...`
- `new Client(token)` is now waiting for a token as parameter instead of an `accessManager`
- Client needs to be registered against the accessManager after being initialised:
[code]
- `getChannelByUniqueName` becomes `getChannel`

I'

[2017-02-06 07:04] Maxwell2022 opened #62 "[documentation] Migration to new version of Twilio SDK"
I was thinking about this and here are the suggestions I have:

- Create a new repo with a more accurate name such as: `react-native-twilio-chat`
    - Update readme to make it clear to use the new repo if they need a newer version of the Twilio SDK
- Create a new repo for the demo app that is currently sitting in `Example` folder
- Document the Javascript API by module
- Add few errors handler in

[2017-02-07 20:10] bradbyte commented on #62
@Maxwell2022 I love the ideas... I was intending on making new repo / package names once the code was finished.

When you say document by module, what do you mean differently from the existing docs? (love to improve, just making sure I understand).

One reason I like the idea of keeping Example in the repo that there's a better chance it will be up to date with the package since you can update bot

[2017-02-08 23:42] Maxwell2022 opened #63 "[programmable-chat][android] App crash if client does not have sync strategy"
I had issues on android when initializing a client without `SynchronizationStrategy`

![image](https://cloud.githubusercontent.com/assets/670701/22762684/bf108524-eeb4-11e6-982f-27a6c07e4195.png)

[code]

This looks like it's fixing it:
[code]

I'll create a PR to fix this issue.

[2017-02-09 14:33] bradbyte commented on #63
@Maxwell2022 thanks!!

[2017-02-09 14:37] #63 closed, assigned to nobody

[2017-02-09 14:40] bradbyte commented on #61
@Maxwell2022 Yeah definitely need a migration doc.. hopefully that will be coming soon. I spent some time trying to envision the access manager role, namely, because Twilio no longer requires it. You can just initiate the client with a token now. So, while we are using access manager internally, I still want to preserve the SDK options in that it's not required. Thoughts?

[2017-02-10 02:54] Maxwell2022 commented on #61
I'm trying to abstract the AccessManager which I found redundant. What do you think of this:
https://github.com/Maxwell2022/react-native-twilio-ip-messaging/commit/3504073fb13b857e4d5dac90a60435ad4a703789

[2017-02-13 05:19] Maxwell2022 opened #65 "[feature] ChannelList is not accessible"
If you look at the iOS SDK, there is this property: `(TCHChannels *)channelsList` which is supposed to be set once the client is successfully initialised. This list should be populated differently according to the SyncStrategy I think, which at the moment is useless. It would be very useful to expose this property as it would save so many requests to the client (`getChannels`, for each channel: `g

[2017-02-14 01:25] Maxwell2022 opened #66 "[bug][EventEmitter - websockets] Native Events not attached to singleton"
I'm facing an issue when using the library.

In my javascript code I initialise my client and listen for events that happen such as `onReceiveMessage`.

In my javascript code, the Twilio client is a singleton. I have a `createClient(token)` method that is checking if the client already exist, then destroy it and create a new one, else create a new one.

The issue is that when I refresh my app (and

[2017-02-14 14:02] bradbyte commented on #66
Have you tried shutting down the native client with the `shutdown` method whenever the main component unmounts?

[2017-02-14 22:28] Maxwell2022 commented on #66
My client is not attached to a component, it's initialised when the app is starting and is available everywhere. I'm using `shutdown()` when the user is logging out and it's working fine.
It's just when the app is refreshing (`command + R`) that it's losing the reference of the client and create a new one, etc... till the app crash

[2017-02-15 14:16] bradbyte commented on #66
That seems like the issue... can you not use `componentWillUnmount` on your parent component to still call `shutdown` on the client, since it is accessible everywhere?

[2017-02-15 22:58] Maxwell2022 commented on #66
We can imagine every possible way possible to avoid this use case, however, the proper way to fix it is to have a native singleton. I'll try to have a look this week.

[2017-02-16 00:38] Maxwell2022 commented on #66
After looking at the native code, it's actually using a singleton...

After you refresh the app **(command + R)**:

- It's not calling `componentWillUnmount()` so even adding `client.shutdown()` it's not doing anything
- The previous event Listeners are still registered somehow
- I'm seeing a **LOT** of debug logs in iOS even tho I set it up to `Critical`

![image](https://cloud.githubusercontent.

[2017-02-16 23:46] Maxwell2022 commented on #66
From what I understand of the Objective-c code, the events that are registered are not attached to the singleton that is created. So each time we create a new client, the events emitters get register again.

[2017-02-17 14:39] svlaev opened #68 "Are there any released apps using this wrapper?"
Hello there,
I am just curious if anybody can share with us if he has released an app (Android & iOS) using the wrappers in this repo?
I wanna know how the app behaves, are there some difficulties in the development process caused by them and your overall opinion of the wrappers.
My company has released native apps (iOS & Android) using Programmable Chat but migrating to React Native seems to be a

[2017-02-17 18:20] bradbyte commented on #68
Our team has built two apps with it, one never made it to production (business issues), and one is in beta right now. Unfortunately I'm not aware of any others at the moment. We've had issues with the `consumedMessageIndex` updating and clearing on the web and mobile. For now, we're going to track the badges in our own state instead of Twilio. We do have a prod app with React Native and are big fa

[2017-02-20 00:45] Maxwell2022 commented on #66
@bradbumbalough can you confirm you can reproduce this issue? refreshing the app it's duplicating the event listeners? Should not be an issue in prod, but in dev it's a nightmare, the app keeps crashing after couple of refreshes

[2017-02-20 03:34] Maxwell2022 commented on #66
Pretty much have the same issue on Android:

![image](https://cloud.githubusercontent.com/assets/670701/23111003/bb94dc9c-f779-11e6-8ae4-7c7ea516367a.png)

[2017-02-20 03:55] Maxwell2022 opened #69 "[programmable-chat][android] TwilioAccessManager.registerClient() is undefined"
![image](https://cloud.githubusercontent.com/assets/670701/23110970/73a231b4-f779-11e6-8634-0af470143e2d.png)

Missing method for Android. I think that's why tests would be very beneficial

[2017-02-20 13:19] svlaev commented on #68
@bradbumbalough Thanks for the feedback :)

[2017-02-20 13:19] #68 closed, assigned to nobody

[2017-02-20 14:45] svlaev opened #70 "[programable-chat][ios] Error building my project"
Hello,

In my react native project dir I did `npm install --save git://github.com/ccm-innovation/react-native-twilio-ip-messaging.git#programable-chat` in order to install the package from the `programable-chat` branch of this repo.
I changed my `ios/Podfile` file to:
[code]
The `$(inherited)` value added wherever needed.
Trouble is I'm getting compile error on: https://github.com/ccm-innovation/r

[2017-02-20 14:50] bradbyte commented on #70
@svlaev thanks for checking out the repo. I'm sorry you're experiencing issues. I'm not 100% sure if you're able to run the app without specifying React in the podfile too, but that might have thrown a different error. Have you tried changing the `reject` block to only have 1 param to see if that works?

[2017-02-20 15:07] svlaev commented on #70
@bradbumbalough Thanks for the quick reply! :)
`React` is dependency of the `RCTTwilioChat` pod so it always gets installed. However I added it to my Podfile too.
If I write `reject(@"test");` it doesn't complain. It is very strange. Because the definition of `reject` I'm seeing is different...

[2017-02-20 16:30] bradbyte commented on #70
Wierd.. yeah I doubled checked the latest API docs too and the syntax matches..I don't think we've seen anything like this yet, but I don't know if that's because it was working or there weren't any errors.

[2017-02-20 16:31] bradbyte commented on #70
Are you certain you have a recent version of React Native? I just checked `0.18.0` and that used a single param for `reject`.

[2017-02-20 17:25] svlaev commented on #70
@bradbumbalough Issue got fixed when I added `  pod 'React', :subspecs => ['Core', 'RCTActionSheet', 'RCTGeolocation', 'RCTImage', 'RCTLinkingIOS', 'RCTNetwork', 'RCTText', 'RCTSettings', 'RCTAnimation', 'RCTVibration', 'RCTWebSocket'], :path => '../node_modules/react-native' `
before the `pod RCTTwilioChat ....` in my Podfile.
In case someone else stumbles on this, here's my whole Podfile:
[code]

[2017-02-20 17:25] #70 closed, assigned to nobody

[2017-02-20 18:13] bradbyte commented on #70
Awesome! I thought we had that in the README but I guess not. Thanks!

[2017-02-20 22:48] Maxwell2022 commented on #66
Add app crash on client.shutdown() [android]:

![image](https://cloud.githubusercontent.com/assets/670701/23144311/d38a1820-f81a-11e6-943d-efd25a6b4c4a.png)

[2017-02-22 20:29] svlaev commented on #70
@bradbumbalough https://github.com/ccm-innovation/react-native-twilio-ip-messaging/pull/71

[2017-02-27 23:37] Maxwell2022 opened #72 "[programable-chat][bug] Shutdown is throwing exception"
iOS and Android, Shutdown it is throwing an exception (Android crash):

[code]

[2017-03-02 14:06] Kabangi opened #74 "How to set attributes to message when Sending."
@bradbumbalough Thank you for providing this awesome library, It has so far saved me a lots of time developing.

So far I have managed to integrate it to my codebase and am able to send messages between clients.

One thing though that is not clear is how do I go about setting attributes to a message when sending?

Thanks.

[2017-03-02 19:37] bradbyte commented on #74
@Kabangi thanks for checking out the project! So I did a quick look at the code and I think it would be possible to implement... basically we're only using the Message constructor from a string body to create a Message. What we would need is to expose the createMessage call and directly assign the attributes through the React converter so that it will create an instance of the Message object.

Fee

[2017-03-07 19:42] #38 closed, assigned to nobody

[2017-03-07 19:42] bradbyte commented on #38
See https://github.com/ccm-innovation/react-native-twilio-chat.

[2017-03-07 19:46] bradbyte commented on #47
Moved to https://github.com/ccm-innovation/react-native-twilio-chat/issues/2.

[2017-03-07 19:46] #47 closed, assigned to nobody

[2017-03-07 19:47] bradbyte commented on #51
Closing for now, if you have more details please reopen at https://github.com/ccm-innovation/react-native-twilio-chat.

[2017-03-07 19:47] #51 closed, assigned to nobody

[2017-03-07 19:49] bradbyte commented on #52
Moved to https://github.com/ccm-innovation/react-native-twilio-chat/issues/3.

[2017-03-07 19:49] #52 closed, assigned to bradbyte

[2017-03-07 19:50] bradbyte commented on #57
Closing for now, please reopen with any new details at https://github.com/ccm-innovation/react-native-twilio-chat.

[2017-03-07 19:50] #57 closed, assigned to nobody

[2017-03-07 19:52] bradbyte commented on #61
Closing for now, added issue in new repo to use latest version of RN. Please open a new issue at https://github.com/ccm-innovation/react-native-twilio-chat with any new details.

[2017-03-07 19:52] #61 closed, assigned to nobody

[2017-03-07 19:53] bradbyte commented on #62
Closing for now, feel free to reopen a new issue at https://github.com/ccm-innovation/react-native-twilio-chat with any new thoughts.

[2017-03-07 19:53] #62 closed, assigned to nobody

[2017-03-07 19:54] bradbyte commented on #65
We access this property to get the channels down to the client.. I think it doesn't trigger an API call once it's been synced. If you see a specific issue feel free to open a PR at the new repo https://github.com/ccm-innovation/react-native-twilio-chat.

[2017-03-07 19:54] #65 closed, assigned to nobody

[2017-03-07 19:59] bradbyte commented on #66
Closing for now. We're not able to replicate this, but if you come across more details for this please open in the https://github.com/ccm-innovation/react-native-twilio-chat repo. Thanks!

[2017-03-07 19:59] #66 closed, assigned to nobody

[2017-03-07 20:00] bradbyte commented on #69
Closing here, added to to new repo.

[2017-03-07 20:00] #69 closed, assigned to nobody

[2017-03-07 20:01] bradbyte commented on #72
Closing for now, feel free to open with more details at https://github.com/ccm-innovation/react-native-twilio-chat.

[2017-03-07 20:01] #72 closed, assigned to nobody

[2017-03-07 20:03] bradbyte commented on #74
Closing for now, added to the new repo to be handled.

[2017-03-07 20:03] #74 closed, assigned to nobody

[2017-03-09 11:42] Kabangi commented on #74
@bradbumbalough  I think for now  we can survive with updating the attributes after construction because this will deprecated anyway. I will be happy though to send a few PRs on the new wrapper. Will check it out and see if I can get the flow then do the necessary.

[2017-03-09 13:34] bradbyte commented on #74
@Kabangi actually @svlaev submitted a PR to do this and I have moved it over to the new repo (https://github.com/ccm-innovation/react-native-twilio-chat/pull/7).

[2020-09-15 16:32] umeshsgh82 opened #75 "Not able to run npm start"
First I did npm install under example directory and try to to npm start where I am getting bellow error:

![image](https://user-images.githubusercontent.com/69050931/93238519-2cb2d680-f79f-11ea-83f2-29244565f99d.png)